body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(133, 102, 90);
}
.top{
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    max-width: 1000px;
    margin: auto;

}
#hil{
    height: 200px;
    order: 1;
}
.left{
    min-width: 200px;
    max-width: 300px;
    color: white;
    background-color: rgb(143, 0, 0);
    padding: 10px;
}

.right{
    min-width: 300px;
    max-width: 550px;
    background-color: white;
    padding: 20px;
}
.princi{
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    max-width: 1000px;
    margin: auto;
}
li{
    margin-bottom: 20px;
}
.exp{
    display: grid;
    grid-template-columns: 100px 1fr;
}
.form{
    display: grid;
    grid-template-columns: 100px 1fr;
}
h1{
    text-align: center;
    justify-self: center;
    padding-top: 70px;
    padding-bottom: 70px;
    min-width: 100px;
    max-width: 400px;
    margin-left: 50px;
    margin-right: 50px;
}
h2{
    text-align: center;
    font-weight: bold;
    
}
.coord{
    width: 352px;
    margin: 20px;
}
@media (max-width: 1000px) {
    .left{
        max-width: 100%;
        width: 100%;
    }
    .right{
        max-width: 100%;
        width: 100%;
    }
    .coord{
        width: 100%;
    }
}
